<h1>Account</h1>

<form id="user_attributes" action="/account/" method="post">
    {% csrf_token %}
    <b>
        {% for field in u_form %}
        {{ field }}<br>
        {% endfor %}
        <button id="edit">Edit Fields</button>
        <input type="submit" value="Submit">
    </b>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    $("#edit").click(function (event) {
        event.preventDefault();
        $('.myCustomClass').prop("disabled", false); // Element(s) are now enabled.
    });

</script>


