<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'esm/base_theme.css' %}">
</head>
<body>


<div class="topnav">
    <a class="{% if nbar == 'search' %}active{% endif %}" href="/search/">Search</a>
    <a class="{% if nbar == 'create' %}active{% endif %}" href="/create/">Create</a>
    <a style='float: right' class="{% if nbar == 'account' %}active{% endif %}" href="/account/">Account</a>
</div>

<div class="maindiv container">
    <div class="left-pane">
    </div>

    <div class="mid-pane">
        {% include path %}
    </div>

    <div class="right-pane">
    </div>
</div>

</body>
</html>