<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESM - Create</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'esm/theme.css' %}">

</head>
<body>
<div class="basic">
    {% include "esm/navbar.html" %}
</div>

<h1>Create</h1>

{% for es in esystems %}

<form action="/create/edit/{{ es.id }}" method="post">
    <input type="submit" value="Go to ES {{ es.id }}" />
    <b>{{ es.cost }}</b>
    <b>{{ es.title }}</b>
</form>

{% endfor %}
<br><br>
<b>Create New ES</b>
<form action="/create/new_es/">
    Title: <input type="text" name="title"><br>
    Cost: <input type="text" name="cost"><br>
</form>

</body>
</html>