<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'esm/theme.css' %}">

<div class="basic">
{% include "esm/navbar.html" %}
</div>

<h1>Create</h1>

<form>
  <p>Open a browser and try to access google.com. What's the result?</p>
  <input id="349" type="radio" value="1" name="question1">
  <label for="349">200 Success</label>
  <br>
  <input id="350" type="radio" value="2" name="question1">
  <label for="350">400 Bad Request</label>
  <br>
  <input id="351" type="radio" value="3" name="question1">
  <label for="351">404 Not Found</label>
  <br>
  <input id="352" type="radio" value="4" name="question1">
  <label for="352">408 Request Timed Out</label>
  <br>
</form>

    <div class="reveal-if-active">
    <p>Anything you want in here.</p>
</div>


</body>
</html>