<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESM - Create</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'esm/theme.css' %}">

</head>
<body>
<div class="basic">
    {% include "esm/navbar.html" %}
</div>

<h1>Edit {{ question.es_id }}</h1>


<div class="div1"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(".div1").load("/get_question/{{ question.id }}");
    </script>



</body>
</html>