

<form id={{ question.id }}>
  <p> {{ question.qa_text }} </p>
    {% for choice in choice_set %}
  <input id={{ choice.id }} type="radio" value={{ choice.id }} name="{{ question.id }}">
  <label for={{ choice.id }} >{{ choice.prev_choice_text }}</label>
  <br>
    {% endfor %}

</form>
<button>Confirm</button>

<div id="test123"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var _selectIndex = Math.floor(Math.random() * 10000);
    var divIDEdit = document.getElementById("test123");
    divIDEdit.setAttribute("id", "id_"+_selectIndex);

    $(document).ready(function () {
        $("button").click(function () {
            var id = document.querySelector('input[name="{{ question.id }}"]:checked').value;
            $("#id_"+ _selectIndex).load("/get_question/" + id);
        });
    });
</script>
