<div>
    <form id="init_form_id" action="/create/edit/save_question/{{ question.id }}" method="post">
        <p> {{ question.qa_text }} </p>
        {% for choice in choice_set %}
        <div>
            <input id="rbut_{{ choice.id }}" type="radio" value={{ choice.id }} name="{{ question.id }}">
            <label for="rbut_{{ choice.id }}" type="text" contenteditable="true">
                <input id="choicetext_{{ choice.id }}" class="init_inputDisabled_class" type="text"
                       value="{{ choice.prev_choice_text }}"
                       name={{ forloop.counter }} disabled></label>
            <button class="deleteq hidden" id="deleteq_{{ choice.id }}" hidden="hidden">&#x274C;</button>
            <br>
        </div>
        {% endfor %}


    </form>
    <button class="not_hidden" id="init_edit_id">Edit Question</button>
    <button class="hidden" id="init_cancel_id" hidden="hidden">Cancel</button>
    <button class="hidden" id="init_save_id" hidden="hidden">Save</button>
    <button class="hidden" id="init_add_id" hidden="hidden" style="color:green; font-weight: bold;">+</button>

    <br>

    <!-- Below id's change with jquery. -->
    <button id="init_confirm_select_id">Confirm Selection</button>
</div>
<div id="init_new_qa_div_id"></div>
<!-- --- -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>


    $(document).ready(function () {
        // sets the id's with a unique number
        // the _selectIndex var must remain local to the document ready function, so new ajax calls don't overwrite old id's
        var _selectIndex = Math.floor(Math.random() * 1000000);

        var new_qa_div_id = "new_qa_div_id_" + _selectIndex;
        var confirm_select_id = "confirm_select_id_" + _selectIndex;
        var save_id = "save_id_" + _selectIndex;
        var add_id = "add_id_" + _selectIndex;
        var edit_id = "edit_id_" + _selectIndex;
        var cancel_id = "cancel_id_" + _selectIndex;
        var form_id = "form_id_" + _selectIndex;
        var inputDisabled_class = "inputDisabled_class_" + _selectIndex;

        document.getElementById("init_new_qa_div_id").setAttribute("id", new_qa_div_id);
        document.getElementById("init_confirm_select_id").setAttribute("id", confirm_select_id);
        document.getElementById("init_save_id").setAttribute("id", save_id);
        document.getElementById("init_add_id").setAttribute("id", add_id);
        document.getElementById("init_edit_id").setAttribute("id", edit_id);
        document.getElementById("init_cancel_id").setAttribute("id", cancel_id);
        document.getElementById("init_form_id").setAttribute("id", form_id);
        $(".init_inputDisabled_class").attr("class", inputDisabled_class + " choice_text");


        // Delete button
        $('#' + form_id).on('click', '.deleteq', function () {
            $(this).parent().remove()
        });


        // Confirm button
        $("#" + confirm_select_id).click(function () {
            var next_question_id = document.querySelector('input[name="{{ question.id }}"]:checked').value;
            $.get("/get_question/" + next_question_id, function (data) {
                $("#" + new_qa_div_id).html(data);
            });
        });

        // Add New button
        $("#" + add_id).click(function (event) {
            event.preventDefault();
            content = "    <div class='div_NEW'>\n" +
                "        <input id=\"rbut_NEW\" type=\"radio\" value=NEW name=\"{{ question.id }}\">\n" +
                "        <label for=\"rbut_NEW\" type=\"text\" contenteditable=\"true\">\n" +
                "            <input id=\"choicetext_NEW\" class=\"choice_text " + inputDisabled_class + "\" type=\"text\"\n" +
                "                   value=\"\"\n" +
                "                   name=NEW></label>\n" +
                "        <button class=\"deleteq hidden\" id=\"deleteq_NEW\">&#x274C;</button>\n" +
                "        <br>\n" +
                "    </div>";
            $("#" + form_id).append(content);
            // need to check if new text box; if none, then add one below
        });

        // Edit button
        $("#" + edit_id).click(function (event) {
            event.preventDefault();
            $('.' + inputDisabled_class).prop("disabled", false); // Element(s) are now enabled.
            $(this).parent().find('.not_hidden').prop("hidden", true);
            $(this).parent().find('.hidden').prop("hidden", false);
        });

        // Cancel button
        $("#" + cancel_id).click(function (event) {
            event.preventDefault();
            $(".div_NEW").remove();
            $('.' + inputDisabled_class).prop("disabled", true); // Element(s) are now enabled.
            $(this).parent().find('.not_hidden').prop("hidden", false);
            $(this).parent().find('.hidden').prop("hidden", true);
        });

        // Save data from form and post to server with ajax
        $("#" + save_id).click(function (event) {
            event.preventDefault();
            var json_obj = {'data': []};
            $(".div_NEW").removeAttr("class");
            $('#' + form_id).find('input[type=text]').each(function (i, v) {
                json_obj['data'].push($(this).val())
            });
            console.log(json_obj['data']);
            $.ajax({
                url: "/create/edit/save_question/{{ question.id }}/",
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: json_obj,
                dataType: "json"
            }).done(function (response) {
                console.log(response.id + " " + response.name);
            }).fail(function (error) {
                console.log(error);
            });


            $('.' + inputDisabled_class).prop("disabled", true); // Element(s) are now enabled.
            $(this).parent().find('.not_hidden').prop("hidden", false);
            $(this).parent().find('.hidden').prop("hidden", true);
        });
    })
    ;
</script>
