<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav Bar</title>
</head>
<body>

<div class="topnav">
    <a class="{% if nbar == 'home' %}active{% endif %}" href="/">Home</a>
    <a class="{% if nbar == 'create' %}active{% endif %}" href="/create/">Create</a>
    <a class="{% if nbar == 'store' %}active{% endif %}" href="/store/">Store</a>
    <a class="{% if nbar == 'purchased' %}active{% endif %}" href="/purchased/">Purchased</a>
    <a class="{% if nbar == 'account' %}active{% endif %}" href="/account/">Account</a>
    <a style='background: red' class="{% if nbar == 'test' %}active{% endif %}" href="/test/">test</a>
    <a style='background: red' class="{% if nbar == 'testtwo' %}active{% endif %}" href="/testtwo/">testtwo</a>
    <a style='float: right' href="/logout/">Logout</a>
</div>

</body>
</html>