<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'esm/theme.css' %}">

<h1>Signup</h1>

<form action="/signup/" method="post"><br>
    First Name:<br>
    <input type="text" name="firstname"><br>
    Last Name:<br>
    <input type="text" name="lastname"><br>
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    Retype Password:<br>
    <input type="password" name="retype_password"><br>
    Email:<br>
    <input type="text" name="email"><br>
    <input type="submit" value="Submit"><br>
    {% csrf_token %}
</form>

</body>
</html>