<h1>Store</h1>

{% for es in esystems %}
<form action="/store/{{ es.id }}" method="get">
    <input type="submit" value="Go to ES {{ es.id }}"/>
    <b>{{ es.title }}</b>
</form>
{% endfor %}

<h2>Buy for $5.00</h2>
<form action="{% url 'esm:charge' %}" method="post">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Django Charge"
            data-amount="500"
            data-locale="auto">
    </script>
</form>