<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
      function one_three_func() {
          document.getElementById("demo").innerHTML = "<form>\n" +
              "  <p>Are you sure?</p>\n" +
              "  <input id=\"400\" type=\"radio\" value=\"1\" name=\"question2\">\n" +
              "  <label for=\"400\">200 Success</label>\n" +
              "  <br>\n" +
              "  <input id=\"401\" type=\"radio\" value=\"2\" name=\"question2\">\n" +
              "  <label for=\"401\">400 Bad Request</label>\n" +
              "  <br>\n" +
              "</form>";
      }
  </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("button").click(function(){
        $("#div1").load("/test/get_question");
      });
    });
    </script>

</head>
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'esm/theme.css' %}">

<div class="basic">
{% include "esm/navbar.html" %}
</div>

<h1>test</h1>
<h3>{{ name }}</h3>

<form id="formOne">
  <p>Choose a value. For no reason.</p>
  <input id="349" type="radio" value="1" name="question1">
  <label for="349">{{ username }}</label>
  <br>
  <input id="350" type="radio" value="2" name="question1">
  <label for="350">{{ first_name }}</label>
  <br>
  <input id="351" type="radio" value="3" name="question1" onchange="one_three_func()">
  <label for="351">{{ last_name }}</label>
  <br>
  <input id="352" type="radio" value="4" name="question1" onchange="myFunction()">
  <label for="352">{{ email }}</label>
  <br>
</form>

    <div class="reveal-if-active">
    <p>Anything you want in here.</p>
</div>



<button type="button" onclick="myFunction()">Click here</button>
<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML = "My First JavaScript";

function myFunction() {
    document.getElementById("demo").innerHTML = "Paragraph changed.";
}





</script>

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button>Get External Content</button>

</body>
</html>